



.ptag{
    color:white;
}

.profileBackground {
    color: #060E19
}

.nameColor {
    color: white
}

.profilePicture {
    borderRadius: "50%";
    width: 50; 
    height: 50; 
    backgroundColor: "insert picture file, #060E19";
    display: "block"; 
}

.backgroundPicture {

}

.Follow {

}

.h1tag {
    color: white; 
}

