<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melody Match</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <section class="ChatbotSection">
        <canvas id="canvas" style="position: absolute; left: 50px; top: 50px; z-index: 999"></canvas>

        <div class="HeadlineSection">
            <h1 class="ChatHeadline">Melody Match</h1>
            <h3 class="HeadlineDescription">Your everyday AI music recommender system</h3>
        </div>
        <div id="resultContainer"></div>
        <div class="HeaderOptions">
            <p class="OptionHeadline">Choose your groove style</p>
            <div class="Features">
                    <button class="FeatureAlgos" id="GenreFiltering">Audio Filtering</button>
                <button class="CombinedAlgo" id="CombinedAlgo">Genre & Audio Filtering</button>
            </div>
        </div>
        <div class="InputSection" id="inputSection">
            <!-- Text input for Genre Filtering -->
            <input type="url" placeholder="Input your song name" id="inputText" name="inputText" required>
            <!-- Hidden input for Button Clicked -->
            <input class="InputSection" type="hidden" id="buttonClicked" name="buttonClicked">
            <!-- Submit button for Genre Filtering -->
        </div>
        <!-- Button to call the /similar_tracks route -->
        <button id="getSimilarTracksButton">Get Personalized Tracks</button>
        <!-- Button to call the /audio_tracks route -->
        <button id="getAudioTracksButton">Get Audio filtered Tracks</button>
    </section>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='notescript.js') }}"></script>
</body>
</html>
